.card {
  background: white;
  box-shadow: 0 2px 8px (0, 0, 0, 0.26);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  animation: openCard 0.4s ease-out forwards;
}


@keyframes openCard {
  0% {
    opacity: 0;
    transform: translate(-50%, -100%)
  }
  50% {
    opacity: 1;
    transform: translate(-50%, -20%)
  } 
  100% {
    opacity: 1;
    transform: translate(-50%, -50%)
  }
}