
.user__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.user__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.user__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.user__actions {
  text-align: right;
}

.userfilter {
  color: white;
  padding: 0 1rem;
}

.userfilter__control {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.userfilter label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: black;
}

.userfilter select {
  font: inherit;
  padding: 0.5rem 3rem;
  font-weight: bold;
  border-radius: 6px;
}


